@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer ViewLocalizer


@{
    ViewData["Title"] = @ViewLocalizer["Home Page"];
}

<div class="text-center">
    <h1 class="display-4">@_localization.Getkey("Welcome")</h1>
  
</div>
